{block content}

	<h1>Knihovnička</h1>
	
	<h2>Všechny knihy:</h2>
	<table>
		<tr>
			<td>Název</td>
			<td>Autor</td>
			<td>Správa</td>
		</tr>
		
		<tr n:foreach="$books as $book">
			<td>{$book->title}</td>
			<td>{$book->author->name}</td>
			<td>
				<a n:href="delete!, $book->id">Smazat</a> |
				<a n:href="changeAuthor!, $book->id">Změnit autora</a>
			</td>
		</tr>
	</table>
			
	<h2>Založit nový záznam:</h2>
	{control newBookForm}
{/block}
