body {
	font-size: 15px;
	line-height: 1.6;
	color: #333;
	background: white;
}

h1 {
	color: #3484D2;
}

#ajax-spinner {
	margin: 15px 0 0 15px;
	padding: 13px;
	background: white url('../images/spinner.gif') no-repeat 50% 50%;
	font-size: 0;
	z-index: 123456;
	display: none;
}

div.flash {
	color: black;
	background: #FFF9D7;
	border: 1px solid #E2C822;
	padding: 1em;
	margin: 1em 0;
}

a[href^="#error:"] {
	background: red;
	color: white;
}

form th, form td {
	vertical-align: top;
	font-weight: normal;
}

form th {
	text-align: right;
}

form .required label {
	font-weight: bold;
}

form .error {
	color: #D00;
	font-weight: bold;
}

html.js .jshidden {
	display: none;
}

table.bookcase, table.bookcase th, table.bookcase td {
	border:1px solid gray;
}

table.bookcase {
	border-spacing: 0;
	border-bottom:0;
	border-left:0;
}

table.bookcase td, table.bookcase th {
	padding: 5px 10px 5px 10px;
	border-top:0;
	border-right:0;
}

table.bookcase tr:nth-child(odd) {
	background-color: #e9f0ff;
}

table.bookcase tr:nth-child(even) {
	background-color: #fff;
}

table.bookcase th{
	background-color: #47a;
	color: white;
}
